#butt1L {
  position: absolute;
  left: 40px;
  top: 340px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 540px;
  top: 340px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 580px;
  top: 20px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 245px;
  top: 60px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 745px;
  top: 60px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 285px;
  top: 140px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 785px;
  top: 140px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 170px;
  top: 430px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 670px;
  top: 430px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 400px;
  top: 240px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 900px;
  top: 240px;
  z-index: 10;
}   
