#butt1L {
  position: absolute;
  left: -18px;
  top: 225px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 482px;
  top: 225px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 20px;
  top: 435px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 520px;
  top: 435px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 158px;
  top: 180px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 658px;
  top: 180px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 270px;
  top: 340px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 770px;
  top: 340px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 420px;
  top: 180px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 920px;
  top: 180px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 65px;
  top: 100px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 565px;
  top: 100px;
  z-index: 10;
}   
